table {
  border: 2px solid rgb(20, 89, 135);
  width: 400px;
  height: 30px;
}

td {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
}

.headerhead {
  color: rgb(20, 89, 135);
}
.empty-list-message{
  color: rgb(209, 131, 42);
  font-size: 20px;
  font-weight: bold;
}